<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/cloud-sun-solid.svg">
    
</head>

<body>

    {{>head}}
    {{>footer}}
</body>


</html>