<div class="main-content">


<h1><img src="/img/cloud-sun-solid.svg" style="height:26px"> {{title}}</h1>

<header>
    <a href="/">Home</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</header>
<p>Use the site to search the weather</p>
<form>
    <div>
    <input type="text" placeholder="Location">
    <button type="submit">Search</button>
    </div>
    <p id="message-1"></p>
    <p id="message-2"></p>
</form>
</div>